use bytes::Bytes;
use futures::StreamExt;

#[tokio::main]
async fn main() -> Result<(), async_nats::Error> {
    let client = async_nats::connect("{{ server }}").await?;

    let mut subscriber = client.subscribe("{{ subject }}".into()).await?.take(10);

    {% if publish  %}
    for _ in 0..10 {
        client.publish("{{ subject }}".into(), "{{ payload }}".into()).await?;
    }
    {% endif %}


    Ok(())
}